Header {
    padding-left: 0px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4da;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    color: #333;
}
.section {
    margin-bottom: 20px;
}
.section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
    
}
.bio, .work-history, .certifications, .projects {
    padding-left: 15px;
}
.work-history ul, .certifications ul, .projects ul {
    list-style-type: none;
    padding-left: 0;
}
.work-history li, .certifications li, .projects li {
    margin-bottom: 10px;
}
